body {
  background-image: url("../images/deerbackground.jpeg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}

ul {
  list-style: none;
}

.container, .col {
  /*background-color: red;*/
  border: 2px solid white;
}
.subscribe-link {
  float: right;
  padding-right: 30px;
  color: white;
}

.social-links a {
  color: white;
}

.media {
  height: 60px;
}

.primary-nav a {
  color: white;
  background-color: red;
}

.bannerimg {
  height: 338px;
  border: 10px solid white;
}

.contentboxes {
  background-color: white;
  font-family: Merriweather;
}

.arrowright {
  background-color: red;
  color: white;
  width: 0;
	height: 0;
	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent;

	/*border-left: 60px solid red;
  padding-top: 38px;
  padding-bottom: 38px;
  padding-left: 13px;
  padding-right: 30px;
  position: absolute;
  float: left;*/
}

.skateboards {
  background-color: white;
}
